In [1]:
import pandas as pd

In [2]:
# 根据键合并
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Salary': [50000, 60000]})

print(df1)
print(df2)

    Name  Age
0  Alice   25
1    Bob   30
    Name  Salary
0  Alice   50000
1    Bob   60000

In [3]:
df = pd.merge(df1, df2, on='Name')
print(df)

    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

In [1]:
import pandas as pd

# 创建一个示例 DataFrame
data = {
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [24, 27, 22, 32]
}
df = pd.DataFrame(data)
print("原始 DataFrame:")
print(df)

# 查找 'id' 为 2 的行
row_index = df[df['id'] == 2].index[0]
print("\n找到的行索引:", row_index)

# 修改 'name' 和 'age' 列的数据
df.at[row_index, 'name'] = 'Robert'
df.at[row_index, 'age'] = 28

print("\n修改后的 DataFrame:")
print(df)

原始 DataFrame:
   id     name  age
0   1    Alice   24
1   2      Bob   27
2   3  Charlie   22
3   4    David   32

找到的行索引: 1

修改后的 DataFrame:
   id     name  age
0   1    Alice   24
1   2   Robert   28
2   3  Charlie   22
3   4    David   32