In [2]:
import pandas as pd

In [3]:
# 根据键合并
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Salary': [50000, 60000]})

print(df1)
print(df2)

    Name  Age
0  Alice   25
1    Bob   30
    Name  Salary
0  Alice   50000
1    Bob   60000

In [4]:
df = pd.merge(df1, df2, on='Name')
print(df)

    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

In [5]:
import pandas as pd

# 创建一个示例 DataFrame
data = {
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [24, 27, 22, 32]
}
df = pd.DataFrame(data)
print("原始 DataFrame:")
print(df)

# 查找 'id' 为 2 的行
row_index = df[df['id'] == 2].index[0]
print("\n找到的行索引:", row_index)

# 修改 'name' 和 'age' 列的数据
df.at[row_index, 'name'] = 'Robert'
df.at[row_index, 'age'] = 28

print("\n修改后的 DataFrame:")
print(df)

原始 DataFrame:
   id     name  age
0   1    Alice   24
1   2      Bob   27
2   3  Charlie   22
3   4    David   32

找到的行索引: 1

修改后的 DataFrame:
   id     name  age
0   1    Alice   24
1   2   Robert   28
2   3  Charlie   22
3   4    David   32

In [6]:
from copy import deepcopy
data = {
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [24, 27, 22, 32]
}
df_test = pd.DataFrame(data)
print(df_test)
df_test = df_test.iloc[::-1].reset_index(drop=True)
print(df_test)

   id     name  age
0   1    Alice   24
1   2      Bob   27
2   3  Charlie   22
3   4    David   32
   id     name  age
0   4    David   32
1   3  Charlie   22
2   2      Bob   27
3   1    Alice   24

In [7]:
data = {
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [24, 27, 22, 32]
}
df_test = pd.DataFrame(data)

# 将 DataFrame 转换为 CSV 格式的字符串
csv_string = df_test.to_csv(index=False)
print(csv_string)

id,name,age
1,Alice,24
2,Bob,27
3,Charlie,22
4,David,32